nav {
  background-color: #fff;
}
i.material-icons {
  color: #00bfa5;
}
header, main, footer {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.row {
  margin-bottom: 5rem !important;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}
h1.big {
  color: #fff;
  font-size: 500%;
  padding-bottom: 1rem;
}
p.lead {
  color: #fff;
}
i.fa-custom {
  color: #fff;
}

.company-data h4 {
  padding-top: 3rem;
}

.company-body {
  padding-top: 3rem;
}
