.img-responsive {
  margin: 0 auto !important;
}

.row {
  margin-bottom: 5rem !important;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

h1.big {
  font-size: 500%;
  padding-bottom: 1rem;
}

.company-data h4 {
  padding-top: 3rem;
}

.company-body {
  padding-top: 3rem;
}
