{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h2>About VPlus</h2>
    <hr />
    <p>
      VPlus is an app designed for Virtual Enterprise, where
      users are able to search for a company or employee of their choice.
      By integrating real-time databases, users are able to get data for
      any participating Virtual Enterprise firm or employee with the convenience
      of a tap of a screen.
    </p>
    <br>
    <h3>Note</h3>
    <p>
      This app is for educational purposes only, and belongs to
      <a href="https://nuapps.us">Nuapps</a>.
    </p>
  </div>
</div>
{% endblock %}
