{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h2>About VPlus</h2>
    <hr />
    <p>
      VPlus is an app built for the Virtual Enterprise program, and is for educational
      purposes <b>only</b>.
      <br>
      VPlus is designed as a firm directory app, designed for companies all around
      the world to connect at the touch of a bottom. By doing so, firms are able to
      conduct business with each other. VPlus brings about a new method of communication
      for aspiring entrepeneurs. 

    </p>
  </div>
</div>
{% endblock %}
