{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="row">
  <div class ="col-md-12 text-center" style="topDiv">
    <h3>Administration Panel</h3>
    <hr>
    <p> Welcome to the VE+ Administration panel! From here, you may add companies and employees for that company. </p>
    <br>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Add Company</div>
      <div class="panel-body">
          <form method="POST">
              {{ companyForm.csrf_token }}
              {{ wtf.form_field(companyForm.companyName )}}
              {{ wtf.form_field(companyForm.address )}}
              {{ wtf.form_field(companyForm.employees )}}
              {{ wtf.form_field(companyForm.industry )}}
              {{ wtf.form_field(companyForm.location )}}
              {{ wtf.form_field(companyForm.imgUrl )}}
              {{ wtf.form_field(companyForm.twitter )}}
              {{ wtf.form_field(companyForm.facebook )}}
              {{ wtf.form_field(companyForm.website )}}
              {{ wtf.form_field(companyForm.description )}}
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Add Employee</div>
      <div class="panel-body">
        <form method="POST">
          {{ employeeForm.csrf_token }}
          {{ wtf.form_field(employeeForm.employeeName )}}
          {{ wtf.form_field(employeeForm.employeeCompany )}}
          {{ wtf.form_field(employeeForm.employeePosition )}}
          {{ wtf.form_field(employeeForm.employeeDescription )}}
          {{ wtf.form_field(employeeForm.employeeTwitter )}}
          {{ wtf.form_field(employeeForm.employeeEmail )}}
          {{ wtf.form_field(employeeForm.employeeWebsite )}}
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
