{% extends 'layout.html' %}
{% block content %}
<div class="row top">
  <header class="bg-primary text-white" style="
    padding: 154px 0 100px;
    background-image: url('https://source.unsplash.com/1600x900/?{{ company[0][9] }}');
    background-size: cover;
    opacity: rgba(0, 0, 0, 0.7);
  ">
     <div class="container">
       {% if company[0][6] %}
        <img class="circle responsive-img" src="{{ company[0][6] }}" width="100px"/>
       {% endif %}
       <h1 class="big">{{ company[0][1] }}</h1>
       <p class="lead">{{ company[0][9] }}</p>
       <a href="{{ company[0][8] }}">
         <i class="fa fa-custom fa-address-card fa-2x"></i>
       </a>
       <a href="https://twitter.com/{{ company[0][7] }}">
         <i class="fa fa-custom fa-twitter fa-2x"></i>
       </a>
       <a href="{{ company[0][5] }}">
         <i class="fa fa-custom fa-facebook fa-2x"></i>
       </a>
     </div>
   </header>
 </div>
      <p><a href="{{ url_for('index')}}">Go back</a></p><br>

      <div class="row">
        <div class="col m4">
          <div class="card">
            <div class="card-content">
              <p>{{ company[0][10] }}</p>
            </div>
            <div class="card-action">
              <h4>Industry</h4>
            </div>
          </div>
        </div>
        <div class="col m5">
          <div class="card">
            <div class="card-content">
              <p>{{ company[0][3] }}</p>
            </div>
            <div class="card-action">
              <h4>Description</h4>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-action">
              <h4 class="text-center"><a href="{{ company[0][8] }}">Company website</a></h4>
            </div>
          </div>
          <div class="card">
            <div class="card-content center-align">
              <a href="{{ company[0][8] }}">
                <i class="fa fa-address-card fa-2x"></i>
              </a>
              <a href="https://twitter.com/{{ company[0][7] }}">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
              <a href="{{ company[0][5] }}">
                <i class="fa fa-facebook fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m6">
          <div class="card horizontal">
            <div class="card-content">
              {% set lat, lng =  company[0][2] | get_coordinates  %}
              {% with map=googlemap_obj("another-map", lat, lng, markers=[(lat, lng)]) %}
                  {{map.html}}
                  {{map.js}}
              {% endwith %}
              {{ company[0][2] }}
            </div>
            <div class="card-action">
              <h4>Office Address</h4>
            </div>
          </div>
        </div>
        <div class="col m6">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <img class="responsive-img" src="{{ qrcode(url) }}">
              </div>
              <div class="card-action">
                <p>Interested? Scan this company's QR code!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m12">
          <div class="card horizontal">
            <div class="card-content">
              <h4 class="center-align">Employees</h4>
              <br>
              {% for employee in employees %}
              <div class="col s4">
                <div class="card horizontal">
                  <div class="card-content">
                    <img class="responsive-img" src="https://avatars.io/static/default_128.jpg"/>
                    <a href="{{ url_for('profile', employee_name = employee[1]) }}"><p><b>{{ employee[1] }}</b></p></a>
                    <p>{{ employee[2]}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
