{% extends 'layout.html' %}
{% block content %}
<div class="row top">
  <header class="bg-primary text-white" style="
    padding: 154px 0 100px;
    background-image: url('https://source.unsplash.com/1600x900/?{{ company[0]['location'] }}');
    background-size: cover;
    opacity: rgba(0, 0, 0, 0.7);
  ">
     <div class="container text-center">
       {% if company[0]['imgUrl'] %}
        <img class="img-circle" src="{{ company[0]['imgUrl'] }}" width="100px"/>
       {% endif %}
       <h1 class="big">{{ company[0]["companyName"] }}</h1>
       <p class="lead">{{ company[0]["location"] }}</p>
       <a href="{{ company[0]["website"] }}">
         <i class="fa fa-address-card fa-2x"></i>
       </a>
       <a href="https://twitter.com/{{ company[0]['twitter'] }}">
         <i class="fa fa-twitter fa-2x"></i>
       </a>
       <a href="https://twitter.com/{{ company[0]['facebook'] }}">
         <i class="fa fa-facebook fa-2x"></i>
       </a>
     </div>
   </header>
    <div class="col-md-offset-2 col-md-5 company-body">
      <h5><a href="{{ url_for('index')}}">Go back</a></h5>
      <hr>
      <h4><b>Industry:</b> {{ company[0]["industry"] }}
      </h4>
      <h4><b>Description:</b> {{ company[0]["description"] }}
      </h4>
      <h4><b>Website</b> <a href="{{ company[0]["website"] }}">{{ company[0]["website"] }}</a></h4>
    </div>
    <div class="col-md-5">
      <br><br><br><br>
      <h4><b>Office:</b> {{ company[0]["address"] }}</h4>
      {% set latitude, longitude =  company[0]["address"] | get_coordinates  %}
      {% with map=googlemap_obj("another-map", latitude, longitude, markers=[(latitude, longitude)]) %}
          {{map.html}}
          {{map.js}}
      {% endwith %}

      {{ googlemap("company_map", latitude , longitude, market )}}
    </div>
    <div class="col-md-12 text-center">
      <h4>Interested? Scan this company's QR code!</h4>
      <img class="img-responsive" src="{{ qrcode(url) }}">
      <br><br>
    </div>
</div>
{% endblock %}
