{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block html_attribs %} lang="en"{% endblock %}
{% block metas %}
  {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block styles %}
  {{ super() }}

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock%}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="navbar-fixed">
      <nav role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="side-nav" style="left: 0px;">
             <li><a href="{{ url_for('main_page') }}">Home</a></li>
             <li><a href="{{ url_for('listCompanies') }}">Available Companies</a></li>
	           <li><a href="{{ url_for('about') }}">About Us</a></li>
	           <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <br><br>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Materialize CSS Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/4fec78782a.js"></script>

    <!-- Custom Javascript -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
