{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="col s12 center-align">
    <h2>Companies</h2>
    <hr>
  </div>

  {% for company in companies %}
  <div class="col s6">
    <div class="card horizontal">
      <div class="card-image">
        <img class="responsive-image"  src="{{ company[6] }}">
      </div>
      <div class="card-content center-align">
        <p><a href="{{ url_for('company', company_name = company[1]) }}">{{ company[1] }} </a></p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
