{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-10">
      <h5><a href="{{ url_for('index')}}">Go back</a></h5>
      <br>
        <h2>{{ employee[0]['employeeName'] }}</h2>
        <h3><small>{{ employee[0]['position'] }} of {{ employee[0]['company'] }}</small></h3>
        <br>

        <p>{{ employee[0]['description'] }}</p>

        <i class="fa fa-map-marker"></i><a href="/company/{{ employee[0]['company'] }}"> {{ employee[0]['company'] }}</a>
        <p>
        <i class="fa fa-envelope"></i><a href="mailto:{{ employee[0]['email'] }}"> {{ employee[0]['email'] }}</a>
        <br />
        <i class="fa fa-address-card"></i><a href="{{ employee[0]['website'] }}"> {{ employee[0]['website'] }}</a>
        <br />
        <i class="fa fa-twitter"></i><a href="https://twitter.com/{{ employee[0]['twitter'] }}"> {{ employee[0]['twitter'] }}</a>
        <br />
      </div>
    </div>
  </div>

{% endblock %}
