{% extends 'layout.html' %}
{% block content %}
<div class="row">
  
  <div class="col s12">
    <h4>Search results</h4>
    <hr><br>

    <!-- Businesses -->
    {% for business in searchCompany %}
    <div class="card">
      <div class="card-content">
        {% if business[6] %}
        <img src="{{ business[6]}}" class="img-circle" width="50px" />
        {% endif %}
        <p><a href="{{ url_for('company', company_name=business[1] )}}"><b>{{ business[1] }}</b></a></p>
        <p class="light">{{ business[9] }}</p>
      </div>
    </div>
    {% endfor %}

    <!-- Employees -->
    {% for employee in searchEmployee %}
    <div class="card">
      <div class="card-content">
        <p><a href="{{ url_for('profile', employee_name=employee[1] )}}"><b>{{ employee[1] }}</b></a></p>
        <p class="light">{{ employee[7] }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
