{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class='col-md-12'>
    <h5><a href="{{ url_for('index')}}">Go back</a></h5>
  </div>

  {% if searchCompany %}
  <div class="col-md-12">
    <h2>Company Search Results</h2>
    <hr />
      {% for business in searchCompany %}
      <div class="panel panel-default">
        <div class="panel-body">
          {% if business[6] %}
            <img src="{{ business[6]}}" class="img-circle" width="50px" />
          {% endif %}
          <h4><a href="{{ url_for('company', company_name=business[1] )}}">
          <b>{{ business[1] }}</b></a></h4>
          <h5>{{ business[9] }}</h5>
          <p><b>Description:</b> {{ business[3] }}</p>
        </div>
      </div>
      {% endfor %}
  </div>

  {% elif searchEmployee %}
  <div class="col-md-12">
    <h2>Employee Search Results</h2>
    <hr />
      {% for employee in searchEmployee %}
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><a href="{{ url_for('profile', employee_name=employee[1] )}}">
          <b>{{ employee[1] }}</b></a></h3>
          <h4>{{ employee[7] }}</h4>
          <hr />
          <h4><b>Description: {{ employee[2] }}</b></h4>
        </div>
      </div>
      {% endfor %}
  </div>

  {% else %}
  <div class="col-md-12">
    <h3>No results found. Try again? </h3>
  </div>
  {% endif %}

</div>
{% endblock %}
